
<h1><%= @place["name"] %></h1>

<h2>Posts</h2>

<ul>
  <% for post in @posts %>
    <li>Title: <b><%= post["title"] %></b><br>
    </b>Post description: <b><%= post["description"] %></b><br>
    Posted on: <b><%= post["posted_on"] %></b></li><br>
  <% end %>
</ul>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p><a href="/places">Back to All Places</a></p>

<p><%= button_to "Delete this place", @place, :method => "delete" %></p>